@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Inter", serif;
}

html {
    scroll-behavior: smooth;
}


.textColor {
    color: #676767;
}

.dancing {
    font-family: "Dancing Script";
}

.primary-gradient {
    @apply bg-gradient-to-r from-[#202020] to-[#1D1D1D];
}